body {
  font-family: sans-serif;
}

.label_option {
  flex: 1;
  text-align: center;
}

.input_option {
  padding-right: 0.5rem
}

.radio-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  align-items: center;
  width: 100%;
}